<?=$this->SetController('index')->SetAction('header')->Render();?>

		<section class="inner">
			<h1>Ошибка</h1>
			<article>
				<p>Страница не найдена</p>
			</article>
		</section>

<?=$this->SetController('index')->SetAction('footer')->Render();?>