	</div>
	<div class="down"></div>
</div>
<footer>
	<div class="inner">
		<div class="logo"><a href="http://mafplastic.ru">Mafplastic</a></div>
		<div class="flr">
		</div>
		<div class="row copy">Все права защищены © <?=date('Y')?> - www.mafplastic.ru</div>
	</div>
</footer>
</body>
</html>