<?=$this->SetController('index')->SetAction('header')->Render();?>

<div class="popup_place">
	<div class="bg"></div>
	<div class="popup basket" style="margin-top: 10%">
		<div class="close"><a href="/"></a></div>
		<h1>Спасибо!</h1>
		<p class="large t_center">Ваш заказ успешно отправлен на обработку.</p>
	</div>
</div>

<?=$this->SetController('index')->SetAction('footer')->Render();?>