		<div class="apply">
		</div>
		<div class="information">
			<h4>Описание:</h4>
			<div class="description">
				<?=$this->item['descr']?>
			</div>
			<div class="images">
			</div>
			<div class="prices">
				<h4>Цена за шт.:</h4>
<?if ($this->prices) foreach ($this->prices as $iKey => $aPrice):?>
<?if ($iKey > 2) continue;?>
<?if ($aPrice['from'] && $aPrice['to']):?>
	От <?=$aPrice['from']?> до <?=$aPrice['to']?>
<?elseif ($aPrice['from']):?>
	От <?=$aPrice['from']?>
<?elseif ($aPrice['to']):?>
	До <?=$aPrice['to']?>
<?endif?>
	&mdash;
	<?=$aPrice['price']?> руб.<br/>
<?endforeach?>
			</div>
			<div class="selector">
				<h4>Цвет:</h4>
				<select name="color">
<?if ($this->colors) foreach ($this->colors as $aColor):?>
					<option value="<?=$aColor['id']?>"><?=CItemColors::$aColors[$aColor['color']]?></option>
<?endforeach?>
				</select>
			</div>
		</div>
		<div class="clr"></div>
		<input type="hidden" name="id" value="<?=$this->item['id']?>"/>