<?=$this->SetController('index')->SetAction('header')->Render();?>

	<div class="container">
		<section>
			<article>
				<h1>Ошибка</h1>
				<p><?=$this->error?></p>
			</article>
		</section>
	</div>
	<div class="down"></div>

<?=$this->SetController('index')->SetAction('footer')->Render();?>