<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<TITLE>MAF PLASTIC</TITLE>
<LINK href="/static/css/admin.css" rel="stylesheet">
</head>

<html>

	<body>

<form method="POST">
<table border="0" align="center" class="login_table" width="250">
	<?if ($this->error):?>
	<tr>
		<td colspan="2"><?=$this->error?></td>
	</tr>
	<?endif;?>
	<tr>
		<td nowrap>Логин</td>
		<td width="100%"><input type="text" name="username"></td>
	</tr>
	<tr>
		<td>Пароль</td>
		<td><input type="password" name="password"></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" class="button" value="Войти"></td>
	</tr>
</table>
</form>

	</body>
</html>
